* {
  box-sizing: border-box;
}

body,
html {
  font-family: Gill Sans MT;
  height: 100%;
  margin: 0;

  padding: 0;
  
}

body{
  background: -moz-linear-gradient(top, rgba(13,52,58,2));
  overflow: hidden;
}



.bg-image {
  /* The image used */
  background-image: url("./img/Stats.jpg");
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rain {
  height: 100%;
  background-image: url('./img/rain.png');
  animation: rain 1.6s linear infinite;
 


  /* position: ; */
}
@keyframes rain {

  0%{
    background-position: 0% 0%;
  }
  100% {
  background-position: 20% 100%;
}

  
}

.container {
  text-align: center;
  margin-top: 5%;
}

fieldset {
  border: solid 1px #000;
  padding: 10px;
  display: block;
  clear: both;
  margin: 5px 0px;
}
legend,
.text {
  padding: 0px 10px;
  background: black;
  color: #fff;
}
input.add {
  float: left;
  background-color: #3498db;
  color: #fff;
}
input.fieldname {
  float: left;
  clear: left;
  display: block;
  margin: 5px;
}

input.remove {
  float: left;
  display: block;
  margin: 5px;
}

/* .fieldName, */
.remove {
  background-color: rgb(245, 51, 51);
  color: #fff;
}

.text {
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1.25em;
}
.table {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

input {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1em;
}

.btn,
input.add {
  letter-spacing: 2px;
  background: linear-gradient(90deg, rgb(225, 247, 239), rgb(237, 255, 249));
  position: relative;
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1,
.btn2,
.btn5,
.btn6,
input.add, .btn3,
.btn4 {
  color: #486f8a;
}


.btn1:hover,
.btn2:hover,
.btn5:hover,
.btn6:hover,
input.add:hover, .btn3:hover,
.btn4:hover {
  color: rgb(73, 65, 65);
}


.btn::before,
.add::before {
  content: "";
  position: absolute;
  left: 0;
  width: 15em;
  height: 0%;
  background: #6bbcd3;
  z-index: -1;
  transition: 0.8s;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.btn1::before,
.btn3::before,
.btn5::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn2::before,
.btn4::before,
.btn6::before,
.add::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}



.btn1:hover::before,
.btn2:hover::before,
.btn5:hover::before,
.btn6:hover::before,
.add:hover::before, .btn4:hover::before,
.btn3:hover::before {
  height: 180%;
}


@media screen and (max-width: 600px) {
  #insertedNumber {
    width: 10em;
    margin-top: 0;
  }
  /* .text {
    width: 91.9%;
  } */

  .btn {
    margin-top: 0;
  }
  .btn,
  input.add {
   
    padding: 6px 15px;
    font-size: 16px;
    
    margin: 5px;
    
  }
}
